<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img alt="Logo" src="/images/identity/svg/linkerd_primary_color_white.svg" height="40">
    </a>
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {{ $currentPage := . }}

        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link">Home</a></li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">Contact</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Email</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Twitter</a></li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Tumblr Blog</a></li>
                    </ul>
                </li>
            </ul>

            FOO
            {{ range .Site.Menus.docs }}
              BAR{{.URL}}
            {{ end }}
            BAZ

            {{ range .Site.Menus.top }}
            <ul class="pure-menu-list">
              <li class="pure-menu-item pure-menu-selected"><a href="{{.URL}}" class="pure-menu-link">{{ .Pre }}{{ .Name }}</a></li>
            </ul>
            {{ end }}
        </div>

        {{ range .Site.Menus.top }}
        <li class="nav-item {{if (hasPrefix $currentPage.URL .URL) }}current{{end}}">
          <a class="nav-link" href="{{.URL}}" {{if hasPrefix .URL "http"}}target="_blank"{{end}}>{{ .Pre }}{{ .Name }}</a>
        </li>
        {{ end }}
        <li>
          <a href="{{ ref . "/2/getting-started/_index.md" }}" class="btn btn-outline-light">Get Started</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
